@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #6c5ce7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 25px 30px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    width: 400px;
    border-radius: 3px;
    margin: 20px;
}
.reg  {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 60px;
    height: 30px;
    background: #6c5ce7;
    color: #FFF;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 3px;
    font-size: 1rem;
    cursor:  pointer;
    opacity: .8;
    transition: .3s;
}

.container .title {
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
    color: #111;
}

.container .input {
    margin: 25px 0;
    display: block;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.container .input input[type="text"]{
    border: 1px solid rgba(0,0,0,.3);
    outline: none;
    width: calc(100% - 60px);
    height: 100%;
    border-radius: 3px;
    padding:  0 15px;
    font-size: 1rem;
    transition: .3s;
}

.container .input input[type="text"]:focus {
    border-color: #6c5ce7;
}

.container .input  button.btn {
    width: 50px;
    height: 100%;
    background: #6c5ce7;
    color: #FFF;
    outline: none;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    border-radius: 3px;
    font-size: 1rem;
    cursor:  pointer;
    opacity: .8;
    transition: .3s;
}

.container .input  button.btn:hover {
    opacity: 1;
}

.container .content ul li {
    background: #f1f1f1;
    border-radius: 3px;
    margin: 8px 0;
    padding: 10px 0;
    border: 1px solid rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
}

.container .content ul li .text {
    color: #111;
    padding-left: 10 px;
}

.container .content ul li .icon {
    width: 50px;
    height: 100%;
    background: #e74c3c;
    position: absolute;
    right: -50px;
    top: 0;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 0 3px 3px 0;
    transition: .3s linear;
}

.container .content ul li:hover .icon {
    right: 0;
}

.container .content .pending-text {
    color: #111;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 20px;
    text-transform: capitalize;
}